<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for category in categories %}
        <h3>{{ category.name }}</h3>
        <ul>
            {% for post in category.posts %}
                <li>{{ post.content }} - {{ post.category.name }}</li>
            {% endfor %}
        </ul>
    {% endfor %}


    <h3>Add category</h3>
    <form method="POST" action="/addcategory" >
        <input type="text" name="category" placeholder="Category Name" required="true">
        <input type="submit" value="Submit">
    </form>


    <h3>Add post</h3>
    <form method="POST" action="/addpost" >
        <textarea rows="3"  placeholder="What's on your mind?" name="content"></textarea>

        <select name="category">
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

</body>
</html>